.format-img{
    width: 500px;
    height: 450px;
    display: none;
    position: relative;
}

.format-img img {
    max-width: 100%;
    max-height: 90%;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bottom-border {
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    margin: 20px 0px 20px 0px;
}

#extract-options {
    padding: 10px 0px 20px 0px;
}

.format-color {
    width: 200px;
    height: 25px;
    border: 1px solid lightgray;
}